<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="logPrefix" value="dao."/>
    	<!-- 使全局的映射器启用或禁用缓存。 -->        
<!--         <setting name="cacheEnabled" value="true"/> -->
        <!-- 使用驼峰命名法转换字段。 -->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>
<!--     <plugins> -->
<!--        <plugin interceptor="com.na.user.socketserver.aop.I18NInterceptor"> -->
<!--        </plugin> -->
<!--     </plugins> -->
</configuration>